@media print {


/* Fonts
-----------------------------*/
    
@font-face {
  font-family: 'Panton Icons B';
  src: url('../fonts/PantonIcons-BRegular.otf') format('opentype')
}

@font-face {
  font-family: 'Panton Icons A';
  src: url('../fonts/PantonIcons-ARegular.otf') format('opentype')
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('../fonts/Apercu/eot/ApercuPro.eot');
  src: url('../fonts/Apercu/eot/ApercuPro.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Apercu/woff/ApercuPro.woff') format('woff'),
       url('../fonts/Apercu/otf/apercu_regular_pro.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('../fonts/Apercu/eot/ApercuProBold.eot');
  src: url('../fonts/Apercu/eot/ApercuProBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Apercu/woff/ApercuProBold.woff') format('woff'),
       url('../fonts/Apercu/otf/apercu_bold_pro.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'Apercu Mono';
  src: url('../fonts/Apercu/eot/ApercuProMono.eot');
  src: url('../fonts/Apercu/eot/ApercuProMono.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Apercu/woff/ApercuProMono.woff') format('woff'),
       url('../fonts/Apercu/otf/apercu_mono_pro.otf') format('opentype');
  font-weight: bold;
}

@page {
  size: auto;
  marks: crop;
}

@page :left {
  size: auto;
  margin: 2cm 2.5cm 2cm 2cm;
}

@page :right {
  size: auto;
  margin: 2cm 2cm 2cm 2.5cm;
}



/* Global Styles
-----------------------------*/
html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0; 
}

.container {
  width: 100%;
  margin: auto;
}

img {
  width: 100%;
  margin: 1cm 0;
}

.dropshadow {
  -webkit-box-shadow: 0px 14px 60px -12px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 14px 60px -12px rgba(0,0,0,0.7);
  box-shadow: 0px 14px 60px -12px rgba(0,0,0,0.7);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}




/* Typography
-----------------------------*/
h1, h2, h3 ul, h3, h4 {
  font-family: 'Apercu Pro', Helvetica, Arial, sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 30pt;
}

h2 {
  font-size: 22pt;
}

a {
  border: none;
  text-decoration: none;
  color: inherit;
}

p {
  font-family: 'freight-text-pro', Garamond, Arial;
  font-size: 10pt;
  text-align: justify;
  line-height: 120%;
  hyphens: auto;
}

h2.chapterTitle {
  text-transform: lowercase;
  margin: 0.5cm 0 0 0;
  padding: 0;
  font-size: 48pt;
}

h3.chapterNumber {
  font-family: 'Apercu Mono', Courier;
  font-weight: normal;
  font-size: 12pt;
  margin: 6.5cm 0 0 0;
  text-transform: lowercase;
}

p span.inlineCode {
  font-family: 'Apercu Mono', Courier;
  font-size: 8.5pt;
}

p span.code, li p span.code {
  font-family: 'Apercu Mono', Courier;
  font-size: 8.5pt;
  display: block;
  margin: 15px 0;
  padding: 5px 15px 5px 20px;
  background-color: #FAE3DC;
  page-break-inside: avoid;
}

.smallCaps {
    -ms-font-feature-settings: "smcp";
    -moz-font-feature-settings: "smcp";
    -webkit-font-feature-settings: "smcp";
    font-feature-settings: "smcp";
    font-variant-caps: all-small-caps;
}

.iconB {
  font-family: 'Panton Icons B';
  font-size: inherit;
}


/* Table of Contents
-----------------------------*/
#mainBody header {
  width: 100%;
  margin: 2.5cm 0 0 15%;
  text-align: left;
}

#mainBody nav ul {
  list-style: none;
  margin: 50px 0 0 0;
  padding: 0;
}

#mainBody nav li {
  font-family: 'freight-display-pro', Garamond, Georgia, serif;
  font-size: 12pt;
  margin: 10px 0;
  padding: 0;
}

#mainBody nav li span {
  font-family: 'Apercu Pro', Helvetica, Arial, serif;
  margin: 0 0.5cm 0 0;
  font-size: inherit;
}


/* Title Page
-----------------------------*/
#titlePage {
  width: 80%;
  text-align: center;
}

#titlePage h1 {
  font-size: 48pt;
  margin: 2.5cm auto 1cm auto;
}

#titlePage h3 {
  font-size: 12pt;
  font-family: 'freight-display-pro', 'FreightText', Garamond, Arial;
  text-align: left;
  -moz-font-feature-settings: "salt";
  -webkit-font-feature-settings: "salt";
  font-feature-settings: "salt";
  width: 60%;
  margin: auto;
}

#titlePage h3#author {
  font-family: 'Apercu Pro', Garamond, Georgia;
  margin: 1cm auto 0 auto;
  font-style: normal;
  text-transform: lowercase;
}

#titlePage h3 span {
  font-style: italic;
}



/* Main Content
-----------------------------*/
#seqIcons {
  width: 50%;
  margin: 0 25% 1cm 25%;
  text-align: center;
}


/* Web vs Print
-----------------------------*/
#versus h3 {
  margin: 2cm 0 0 0;
}

#versus h3.chapterNumber {
  margin: 6.5cm 0 0 0;
}

/* Making Your Own Book
-----------------------------*/
#make-your-own-book h3.chapterNumber {
  margin: 11cm 0 0 0;
}

#make-your-own-book h2.chapterTitle {
  letter-spacing: -0.05em;
}


/* Further Reading
-----------------------------*/
#further-reading-print h3 {
  font-weight: bold;
  margin: 0 0 0.3cm 0;
}
#further-reading-print h4 {
  margin: 0;
  padding: 0;
  color: #555555;
}

#further-reading-print h3.chapterNumber {
  margin: 11cm 0 0 0;
}

.book-entry {
  margin: 0 0 2cm 0;
}

#cover img {
  width: 100%;
}


/* Glossary
-----------------------------*/
#glossContent li {
  font-family: 'freight-text-pro', Garamond, Arial, serif;
  margin: 1cm 0;
  font-size: 14pt;
  clear: both;
  page-break-inside: avoid;
}

#glossContent li p {
  width: 70%;
  float: right;
  border-left: 1px #000000 solid;
  padding-top: 1px;
  padding-left: 10px;
}

#glossContent li h3 {
  font-family: 'Apercu Pro', Garamond, Georgia;
  font-size: inherit;
  font-weight: normal;
  float: left;
  text-align: left;
  width: 27%;
}


/* Bibliography
-----------------------------*/
#biblio h3.chapterNumber {
  margin: 10cm 0 0 0;
}

ol {
  font-family: 'freight-text-pro', Garamond, Georgia, serif;
  font-size: 10pt;
  text-align: justify;
}

span.bib {

}


/* Hide / Show
-----------------------------*/
.pageBreak {
  display: block;
  page-break-after: always;
}

.pageBreakBefore {
  display: block;
  page-break-before: always;
}

.noPrint {
  display: none;
}

.footNotes {
  display: block;
}

.footNumber {
  vertical-align: super;
  font-size: 6pt;
  display: inline;
}

.blankPage {
  color: #ffffff;
  page-break-before: always;
  page-break-after: always;
}

p a::after {
  content: none;
  display: none;
}







} /* end of @media print */