@media print {


/* Fonts
-----------------------------*/
@font-face {
  font-family: 'Panton Icons B';
  src: url('../fonts/PantonIcons-BRegular.otf') format('opentype')
}

@font-face {
  font-family: 'Panton Icons A';
  src: url('../fonts/PantonIcons-ARegular.otf') format('opentype')
}

@page {
  marks: crop;
}

@page :left {
  size: auto;
  margin: 3cm 3.5cm 4cm 2.5cm;
}

@page :right {
  size: auto;
  margin: 3cm 2.5cm 4cm 3.5cm;
}



/* Global Styles
-----------------------------*/
html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0; 
}

.container {
  width: 100%;
  margin: auto;
}

img {
  width: 100%;
}

.dropshadow {
  -webkit-box-shadow: 0px 14px 60px -12px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 14px 60px -12px rgba(0,0,0,0.7);
  box-shadow: 0px 14px 60px -12px rgba(0,0,0,0.7);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}




/* Typography
-----------------------------*/
h1, h2, h3 ul, h4 {
  font-family: 'Apercu Pro', Garamond, Georgia;
  font-weight: normal;
}

h1 {
  font-size: 30pt;
}

h2 {
  font-size: 22pt;
}

a {
  border: none;
  text-decoration: none;
  color: inherit;
}

p {
  font-family: 'FreightText', Garamond, Arial;
  font-size: 12pt;
  text-align: justify;
  line-height: 120%;
  hyphens: auto;
}

h2.chapterTitle {
  text-transform: lowercase;
  margin: 1cm 0 0 0;
  padding: 0;
  font-size: 68pt;
}

h3.chapterNumber {
  font-family: 'Apercu Mono', Courier;
  font-weight: normal;
  font-size: 12pt;
  margin: 6cm 0 0 0;
  text-transform: lowercase;
}

.iconB {
  font-family: 'Panton Icons B';
  font-size: inherit;
}


/* Table of Contents
-----------------------------*/
#mainBody header {
  width: 50%;
  margin: 250px 0 0 15%;
  text-align: left;
}

#mainBody nav ul {
  list-style: none;
  margin: 50px 0 0 0;
  padding: 0;
}

#mainBody nav li {
  font-family: 'FreightText', Garamond, Arial;
  font-size: 12pt;
  margin: 10px 0;
  padding: 0;
}

#mainBody li span {
  font-family: 'Apercu Mono', Courier, Helvetica, Arial;
  font-size: inherit;
  display: inline;
  margin-right: 30px;
}


/* Title Page
-----------------------------*/
#titlePage.container {
  width: 40%;
}

#titlePage {
  text-align: center;
}

#titlePage h1 {
  font-size: 42pt;
  margin: 200px 0 60px 0;
}

#titlePage h3 {
  font-size: 10pt;
  font-family: 'FreightText', Garamond, Arial;
  font-style: italic;
}

#titlePage h3#author {
  font-family: 'Apercu Pro', Garamond, Georgia;
  margin-top: 200px;
  font-style: normal;
  text-transform: lowercase;
}

#titlePage h3 span {
  font-style: italic;
}



/* Main Content
-----------------------------*/
#seqIcons {
  width: 50%;
  margin: 0 25% 2cm 25%;
  text-align: center;
}


/* Further Reading
-----------------------------*/
#further-reading-print h3 {
  font-weight: bold;
}
#further-reading-print h4 {
  margin: 0;
  padding: 0;
  color: #555555;
}


/* Glossary
-----------------------------*/
#glossContent li {
  font-family: 'FreightText', Helvetica, Arial;
  margin: 30px 0;
  font-size: 14pt;
  clear: both;
}

#glossContent li p {
  width: 70%;
  float: right;
  border-left: 1px #000000 solid;
  padding-top: 1px;
  padding-left: 10px;
}

#glossContent li h3 {
  font-family: 'Apercu Pro', Garamond, Georgia;
  font-size: inherit;
  font-weight: normal;
  float: left;
  text-align: left;
  width: 27%;
}

p span {
  font-family: 'Apercu Mono', Courier;
  font-size: 12pt;
  display: block;
  margin: 15px 0;
  padding: 5px 0 5px 20px;
  background-color: #ffffff;
}


/* Hide / Show
-----------------------------*/
.pageBreak {
  display: block;
  page-break-after: always;
}

.pageBreakBefore {
  display: block;
  page-break-before: always;
}

.noPrint {
  display: none;
}

.footNotes {
  display: block;
}

.footNumber {
  vertical-align: super;
  font-size: 6pt;
  display: inline;
}

.blankPage {
  color: #ffffff;
  page-break-before: always;
  page-break-after: always;
}

p a::after {
  content: none;
  display: none;
}







} /* end of @media print */