@font-face {
  font-family: 'Filler';
  src: url('../fonts/larish.eot');
  src: url('../fonts/larish.eot?#iefix') format('embedded-opentype'),
       url('../fonts/larish.woff') format('woff'),
       url('../fonts/larish.ttf')  format('truetype'),
       url('../fonts/larish.svg#svgLarish') format('svg');
}

@font-face {
  font-family: 'Panton Icons B';
  src: url('../fonts/PantonIcons-BRegular.otf') format('opentype')
}

@font-face {
  font-family: 'Panton Icons A';
  src: url('../fonts/PantonIcons-ARegular.otf') format('opentype')
}

/* Global Styles
----------------------------*/
html, body {
  margin: 0;
  padding: 0;
}

body {
  text-align: left;
  color: #000000;
}

.container {
  width: 45%;
  margin: auto 35% auto auto;
  text-align: left;
}

.justify {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imageblock {
  margin: 40px auto;
}

.dropShadow {
  -webkit-box-shadow: 0px 14px 60px -12px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 14px 60px -12px rgba(0,0,0,0.7);
  box-shadow: 0px 14px 60px -12px rgba(0,0,0,0.7);
}

.sectionWrapper {
  margin: 0;
  padding: 150px 0;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 85px 0 0 0;
}

textarea {
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: left;
}


/* Typography
----------------------------*/
a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #000000;
}

p {
  font-family: 'FreightText', Helvetica, Arial;
  font-size: 14pt;
  line-height: 140%;
  text-align: justify;
}

p a::after {
  content: '˚';
}

p a:after {
  border: none;
}

p a:hover {
  border: none;
  color: inherit;
  background-color: #FFEE00;
}

h1 {
  font-family: 'Apercu Pro', Courier;
  font-size: 22pt;
  font-weight: bold;
  padding: 5px 5px 5px 0;
  display: inline-block;
}

h1 a, h2 a, h3 a, .noUnderline {
  border: none;
  color: inherit;
}

h2 {
  font-family: 'Apercu Pro';
  text-transform: lowercase;
  font-size: 22pt;
  font-weight: normal;
}

li {
  font-family: 'Apercu Pro';
  font-size: 1em;
}

.chapterTitle {
  font-size: 24pt;
  margin: 0 0 100px 0;
}

.small-caps {
    -ms-font-feature-settings: "smcp";
    -moz-font-feature-settings: "smcp";
    -webkit-font-feature-settings: "smcp";
    font-feature-settings: "smcp";
}

.underline {
  border-bottom: 1px solid #000000;
}

.fullJustify {
  text-align: justify;
}

.fullJustify:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.iconA {
  font-family: 'Panton Icons A';
  font-size: inherit;
  text-transform: none;
  font-size: 20pt;
}

.iconB {
  font-family: 'Panton Icons B';
  font-size: inherit;
  font-size: 20pt;
}


/* Sidebar
----------------------------*/
header {
  width: 15%;
  position: fixed;
  top: 100px; right: 5%;
  background-color: #ffffff;
  padding: 10px 10px 20px 25px;
}

nav {
  margin: 50px 0 0 0;
  padding: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 20px 0;
  padding: 0;
}

li a {
  border: none;
}

li a:hover {
  border-bottom: 1px #000000 solid;
}


/* Main Content
----------------------------*/
#mainContent {
  margin: 0 35% auto auto;
}

#mainWrapper {
  background-color: #ffffff;
  margin: -25px 0 0 0;
  padding-top: 125px;
}

#mainContent h2 {
  font-size: 24pt;
  margin: 25px 0 0 0;
  text-align: left;
}

img {
  width: 100%;
}

#seqIcons {
  margin: 100px auto;
  text-align: center;
}


/* Further Reading
----------------------------*/
#furtherReading {
  background-color: #DCFAF3;
}

#furtherContent {
  width: 60%;
  margin: auto 30% auto auto;
}

#furtherContent>div {
  margin-bottom: 50px;
}

#flexGrid {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#gridCell {
  width: 30%;
}

#gridCell img {
  width: 100%;
  -webkit-box-shadow: 0px 14px 60px -12px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 14px 60px -12px rgba(0,0,0,0.7);
  box-shadow: 0px 14px 60px -12px rgba(0,0,0,0.7);
}

#gridCell h3, #makingContent h3 {
  font-family: 'Apercu Pro';
  font-size: 14pt;
  font-weight: normal;
  text-align: left;
  margin-top: 30px;
}

#furtherContent h2 span {
  margin-left: 20px;
}

#gridCell p {
  font-family: 'FreightText', Helvetica, Arial;
  font-size: 12pt;
  text-align: left;
}

#gridCell .topImage {
  margin-bottom: 10px;
}


/* Glossary
-----------------------------*/
#glossary {
  background-color: #FAE3DC;
}

#glossContent {
  overflow: auto;
}

#glossContent li {
  font-family: 'FreightText', Helvetica, Arial;
  margin: 30px 0;
  font-size: 14pt;
  clear: both;
}

#glossContent li p {
  width: 70%;
  float: right;
  border-left: 1px #000000 solid;
  padding-top: 1px;
  padding-left: 10px;
}

#glossContent li h3 {
  font-family: 'Apercu Pro', Garamond, Georgia;
  font-size: inherit;
  font-weight: normal;
  float: left;
  text-align: left;
  width: 27%;
}

p span {
  font-family: 'Apercu Mono', Courier;
  font-size: 12pt;
  display: block;
  margin: 15px 0;
  padding: 5px 0 5px 20px;
  background-color: #ffffff;
}


/* Making This Book
----------------------------*/
#making-this-book {
  background-color: #FAEDDC;
}

#makingContent {
  width: 60%;
  margin: auto 30% auto auto;
}

#makingContent h3 {
  margin: 0;
}

#gridCellWide {
  width: 60%;
}

#gridCellNarrow {
  width: 30%;
}



/* Hide / Show
----------------------------*/
.printOnly {
  display: none;
}

.pageBreak, .blankPage {
  display: none;
}