@font-face {
  font-family: 'Apercu Pro';
  src: url('../fonts/Apercu/eot/ApercuPro.eot');
  src: url('../fonts/Apercu/eot/ApercuPro.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Apercu/woff/ApercuPro.woff') format('woff'),
       url('../fonts/Apercu/otf/apercu_regular_pro.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('../fonts/Apercu/eot/ApercuProBold.eot');
  src: url('../fonts/Apercu/eot/ApercuProBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Apercu/woff/ApercuProBold.woff') format('woff'),
       url('../fonts/Apercu/otf/apercu_bold_pro.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'Apercu Mono';
  src: url('../fonts/Apercu/eot/ApercuProMono.eot');
  src: url('../fonts/Apercu/eot/ApercuProMono.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Apercu/woff/ApercuProMono.woff') format('woff'),
       url('../fonts/Apercu/otf/apercu_mono_pro.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'Panton Icons B';
  src: url('../fonts/PantonIcons-BRegular.otf') format('opentype')
}

@font-face {
  font-family: 'Panton Icons A';
  src: url('../fonts/PantonIcons-ARegular.otf') format('opentype')
}



/* Global Styles
----------------------------*/
html, body {
  margin: 0;
  padding: 0;
}

body {
  text-align: left;
  color: #000000;
}

.container {
  width: 45%;
  margin: auto 35% auto auto;
  text-align: left;
}

.overflow {
  width: 65%;
  margin: 75px 25% 75px auto;
}

.justify {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imageblock {
  margin: 40px auto;
}

.dropShadow {
  -webkit-box-shadow: 0px 14px 60px -12px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 14px 60px -12px rgba(0,0,0,0.7);
  box-shadow: 0px 14px 60px -12px rgba(0,0,0,0.7);
}

.sectionWrapper {
  margin: 0;
  padding: 110px 0;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.floatImg {
  float: left;
  width: 65%;
  margin: 0 4% 2% -15%;
}



/* Typography
----------------------------*/
a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #000000;
}

p {
  font-family: 'freight-text-pro', 'FreightText', Helvetica, Arial;
  font-size: 1.2em;
  line-height: 150%;
  text-align: justify;
  hyphens: auto;
}

p a::after {
  content: '˚';
}

p a:hover {
  border: none;
  color: inherit;
  background-color: #FFEE00;
}

p a.noDot::after {
  content: none;
}

h1 {
  font-family: 'Apercu Pro', Courier;
  font-size: 22pt;
  font-weight: bold;
  padding: 5px 5px 5px 0;
  display: inline-block;
}

h1 a, h2 a, h3 a, .noUnderline {
  border: none;
  color: inherit;
}

h2 {
  font-family: 'Apercu Pro';
  text-transform: lowercase;
  font-size: 22pt;
  font-weight: normal;
}

h3 {
  font-family: 'Apercu Pro';
  font-size: 18pt;
  font-weight: normal;
}

nav li {
  font-family: 'Apercu Pro';
  font-size: 1em;
}

p span.code {
  font-family: 'Apercu Mono', Courier;
  font-size: 12pt;
  display: block;
  margin: 15px 0;
  padding: 5px 20px 5px 20px;
  background-color: rgba(255, 255, 255, 0.5);
}

p span.inlineCode {
  font-family: 'Apercu Mono', Courier;
  font-size: 0.85em;
  margin: 0 3px;
}

h5 {
  font-family: 'freight-text-pro', Garamond, Georgia, serif;
  font-size: 0.9em;
  font-style: italic;
  font-weight: normal;
  width: 70%;
  margin: auto;
  margin: 40px auto 0 auto;
  text-align: center;
}

.chapterTitle {
  font-size: 28pt;
  margin: 0 0 100px 0;
}

.smallCaps {
    -ms-font-feature-settings: "smcp";
    -moz-font-feature-settings: "smcp";
    -webkit-font-feature-settings: "smcp";
    font-feature-settings: "smcp";
    font-variant-caps: all-small-caps;
}

.underline {
  border-bottom: 1px solid #000000;
}

.fullJustify {
  text-align: justify;
}

.fullJustify:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.iconA {
  font-family: 'Panton Icons A';
  font-size: inherit;
  text-transform: none;
  font-size: 20pt;
}

.iconB {
  font-family: 'Panton Icons B';
  font-size: inherit;
  font-size: 20pt;
}



/* Sidebar
----------------------------*/
header {
  width: 15%;
  position: fixed;
  top: 110px; right: 4%;
  background-color: #ffffff;
  padding: 10px 10px 20px 25px;
}

nav {
  margin: 50px 0 0 0;
  padding: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin: 20px 0;
  padding: 0;
}

nav li a {
  border: none;
}

nav li a:hover {
  border-bottom: 1px #000000 solid;
}


/* Main Content
----------------------------*/
#mainContent {
  margin: 0 35% auto auto;
}

#mainWrapper {
  background-color: #ffffff;
  margin: -25px 0 0 0;
  padding-top: 125px;
}

#mainContent h2 {
  font-size: 28pt;
  margin: 25px 0 0 0;
  text-align: center;
}

img {
  width: 140%;
}

#seqIcons {
  margin: 0;
  text-align: center;
  width: 100%;
}



/* Further Reading
----------------------------*/
#furtherReading {
  background-color: #c7f2dd;
}

#furtherContent {
  width: 60%;
  margin: auto 30% auto auto;
}

#furtherContent>div {
  margin-bottom: 50px;
}

#flexGrid {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#gridCell {
  width: 30%;
}

#gridCell img {
  width: 100%;
  -webkit-box-shadow: 0px 14px 60px -12px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 14px 60px -12px rgba(0,0,0,0.7);
  box-shadow: 0px 14px 60px -12px rgba(0,0,0,0.7);
}

#gridCell h3, #makingContent h3 {
  font-family: 'Apercu Pro';
  font-size: 1.2em;
  font-weight: normal;
  text-align: left;
  margin-top: 30px;
}

#furtherContent h2 span {
  margin-left: 20px;
}

#gridCell p {
  font-family: 'freight-text-pro', 'FreightText', Helvetica, Arial;
  font-size: 12pt;
  text-align: left;
}

#gridCell .topImage {
  margin-bottom: 10px;
}

#browserWarning {
  font-family: 'freight-text-pro', 'FreightText', Garamond, Georgia, serif;
  font-style: italic;
  font-size: 1.2em;
  font-weight: normal;
  text-align: justify;
}



/* Web vs. Print
----------------------------*/
#versus {
  background-color: #f8eab7;
}

#versus h3 {
  margin-top: 75px;
}



/* Making This Book
----------------------------*/
#making-this-book {
  background-color: #FFFFFF;
}

#makingContent h3 {
  margin: 50px 0 0 0;
  font-size: 18pt;
}

#makingContent h3.instruction {
  margin: 100px 0 0 0;
}

#gridCellWide {
  width: 60%;
}

#gridCellNarrow {
  width: 30%;
}

.splitColumn {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
  -moz-column-gap: 40px; /* Firefox */
  column-gap: 40px;
  margin: 0 0 100px 0;
}

#noHeadline p {
  text-align: left;
  margin-top: 0;
}

#makingContent li {
  font-family: 'freight-text-pro', 'FreightText', Garamond, Georgia;
  font-size: 1.2em;
  margin: 0 0 25px 0;
  border-left: 1px #000000 solid;
  padding-left: 10px;
}

#makingContent img {
  margin: 20px 0;
  width: 100%;
}

#makingContent ul {
  margin: 22px 0 0 0;
}

.fiftyBlock {
  width: 100%;
  vertical-align: top;
}

.fiftyblock img {
  float: left;
  width: 40%;
}



/* Making Your Own Book
-----------------------------*/
#make-your-own-book {
  background-color: #f8eab7;
}

img.inlineImg {
  display: inline;
  width: 48%;
}

#leftImg {
  margin: 0 3.5% 0 0;
}



/* Further Reading: Print (delete on completion)
----------------------------*/
#further-reading-print h3 {
  font-family: 'Apercu Pro', Helvetica, Arial;
  font-weight: bold;
  margin: 0 0 10px 0;
}

#further-reading-print h4 {
  font-family: 'Apercu Pro', Helvetica, Arial;
  font-weight: normal;
  margin: 0 0 23px 0;
  padding: 0;
}

.book-entry {
  margin: 0 0 60px 0;
}



/* Glossary
-----------------------------*/
#glossary {
  background-color: #FAE3DC;
}

#glossContent {
  overflow: auto;
}

#glossContent li {
  font-family: 'freight-text-pro', 'FreightText', Helvetica, Arial;
  margin: 30px 0;
  font-size: 1em;
  clear: both;
}

#glossContent li p {
  width: 70%;
  float: right;
  border-left: 1px #000000 solid;
  padding-top: 1px;
  padding-left: 15px;
}

#glossContent li h3 {
  font-family: 'Apercu Pro', Garamond, Georgia;
  font-size: inherit;
  font-weight: normal;
  float: left;
  text-align: left;
  width: 27%;
}



/* Hide / Show
----------------------------*/
.printOnly {
  display: none;
}

.pageBreak, .blankPage {
  display: none;
}